html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
}

@media print {
  .no-print {
    display: none !important;
  }

  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}
